:root {
  --main-font: "Inter";
  --second-font: "PressStart2P";
  --first-font-weidth: 465;
  --second-font-weidth: 785;
  --background-color: #000;
  --font-color: #00cc14;
  --background-image: url(../images/background-dark.jpg);
  --heart-color: red;
  --heart-hover-color: #00cc14;
  --heart-contour-color: #00cc14;
  --button-color: var(--font-color)
}
